<% include partials/header %>
<h1>This is my home page!</h1>

<img src="https://images.unsplash.com/photo-1460500063983-994d4c27756c?crop=entropy&fit=crop&fm=jpg&h=925&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1500">
<% include partials/footer %>